[submodule "mupdf"]
	path = mupdf
	url = https://github.com/ArtifexSoftware/mupdf
    ignore = dirty
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
	ignore = untracked
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
